.header-img img{
    width: 200px;
}
.header-img {
    text-align: center;
}
.header-menu ul {
    background: black;
}
.header-menu ul li {
    display: inline-block;
    margin: 10px;
}
.header-menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color:white;
}